@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="padding: 10px;">
        <table style="color: white;">
            <tr>
                <td><h2>Elvis Nava</h2></td>
            </tr>
            <tr>
                <td><h4>15.405.667</h4></td>
            </tr>
        </table>
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
